@inherits LayoutComponentBase

<BootstrapBlazorRoot>
    <Layout SideWidth="0" IsPage="true" ShowGotoTop="true" ShowCollapseBar="true"
            IsFullSide="@IsFullSide" IsFixedHeader="true" IsFixedFooter="true" ShowFooter="@ShowFooter"
            TabDefaultUrl="/" UseTabSet="false" class="@Theme">
        <Main>
            <section class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <Card class="shadow-lg border-0 my-5">
                                <BodyTemplate>
                                    <CascadingValue Value="this" IsFixed="true">
                                        @Body
                                    </CascadingValue>
                                </BodyTemplate>
                            </Card>
                        </div>
                    </div>
                </div>
            </section>
        </Main>
        <Footer>
            <FooterComponent></FooterComponent>
        </Footer>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Layout>
</BootstrapBlazorRoot>