@page "/master/awbinventory"
@using iDss.X.Models
@inject MasterDataPart1Service _service1
@inject MasterDataPart2Service _service2
@inject MasterDataPart3Service _service3
@inject OutboundService _oclservice
@attribute [TabItemOption(Text = "AWB Inventory")]

<PageTitle>AWB Inventory</PageTitle>

@* Header Section *@  
<Row ItemsPerRow="ItemsPerRow.One" style="margin-bottom: 16px">
    <Stack IsRow="true" Justify="StackJustifyContent.Between" AlignItems="@StackAlignItems.Center">
        <StackItem>
            <h5>Request AWB</h5>
        </StackItem>
    </Stack>
</Row>

@* Content *@
<Row ItemsPerRow="ItemsPerRow.Two" Style="padding-left: 16px; padding-right: 16px; margin-bottom: 16px;">
    <Row ColSpan="1">
        <Select TValue="string"
                Items="provinceItems"
                @bind-Value="selectedProvince"
                DisplayText="Provinsi:"
                ShowLabel="true"
                style="width: 100%; max-width:350px;" />
    </Row>
    <Row ColSpan="1">
        <BootstrapInput TValue="string"
                        IsAutoFocus="true"
                        IsSelectAllTextOnFocus="true"
                        ShowLabel="true"
                        DisplayText="Available AWB"
                        style="width: 100%; max-width:100px;" />
    </Row>
</Row>

<Row ItemsPerRow="ItemsPerRow.Two" Style="padding-left: 16px; padding-right: 16px; margin-bottom: 16px;">
    <Row ColSpan="1">
        <Select TValue="string" DisplayText="Branch:" ShowLabel="true" style="width: 100%; max-width: 350px;">
            <Options>
                <SelectOption Text="Please select..." Value="" />
                <SelectOption Text="DKI Jakarta" Value="31" />
                <SelectOption Text="Jawa Barat" Value="32" />
            </Options>
        </Select>
    </Row>
    <Row Colspan="1"></Row>
</Row>

<Row ItemsPerRow="ItemsPerRow.Two" Style="padding-left: 16px; padding-right: 16px; margin-bottom: 16px;">
    <Row ColSpan="1">
        <BootstrapInputNumber Value="@BindValue" IsSelectAllTextOnFocus="true" ShowLabel="true" DisplayText="Total Request" style="width: 100px;" />
    </Row>
    <Row Colspan="1"></Row>
</Row>

<Row ItemsPerRow="ItemsPerRow.One" Style="padding-left: 16px; padding-right: 16px; margin-top: 16px; margin-bottom: 16px;">
    <Button ButtonType="ButtonType.Submit" Size="Size.Small" Color="Color.Success" Icon="fa-solid fa-circle-plus me-2" Style="min-width: 100px;">CREATE</Button>
    <Row ItemsPerRow="ItemsPerRow.Two">
        <Row ColSpan="1">
            <Textarea style="width: 100%; max-width: 350px;"></Textarea>
        </Row>
        <Row Colspan="1"></Row>
    </Row>
    <Button ButtonType="ButtonType.Reset" Size="Size.Small" Color="Color.Danger" Icon="fa-solid fa-arrows-rotate me-2" Style="min-width: 100px;">Reset</Button>
</Row>


@code {
    public int BindValue { get; set; } = 5;

    private AWBInventory awbInventory = new();

    private List<SelectedItem> provinceItems = new();
    private string selectedProvince;

    protected override async Task OnInitializedAsync()
    {
        var data = await _oclservice.GetAllProvinceAsync();

        provinceItems = data.Select(p => new SelectedItem
            {
                Text = p.provname,
                Value = p.provid
            }).ToList();
    }
}






