@page "/ocl/entrydataprimary"
@using System.Text
@using iDss.X.Models
@inject MasterDataPart1Service _service1
@inject MasterDataPart2Service _service2
@inject MasterDataPart3Service _service3
@inject OutboundService _oclservice
@inject ToastService toastService
@attribute [TabItemOption(Text = "AWB Inventory")]



<h3>EntryDataPrimarryPage</h3>

@code {

}
