::deep .form-control {
    height: 30px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 4px;
    min-width: 120px;
}

::deep .col-12 .origin-code {
    font-size: 12px;
    color: #6c757d;
    margin-left: 10px;
}

::deep .form-label {
    font-size: 12px;
    font-weight: 600;
}

::deep .g-3 {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0.2rem;
}

::deep .btn-danger {
    --bs-btn-font-size: 0.780rem;
    --bb-btn-label-margin-left: 0px;
}

::deep .datetime-picker i.datetime-picker-bar.fa-regular.fa-calendar-days {
    font-size: medium;
    --bb-height: 30px;
}

::deep .custom-select-size {
    min-width: auto;
}

::deep 

.select-kecil ::deep .form-control,
.select-kecil ::deep .form-select {
    width: 60px !important;
    min-width: 60px !important;
    padding: 0 4px;
}

.icon-refresh {
    cursor: pointer;
    color: #ff4d4f;
    /*    font-size: 1.1rem;*/
    transition: transform 0.3s ease, color 0.3s ease;
}

    .icon-refresh:hover {
        transform: rotate(90deg);
        color: #e63946;
    }

/*override css checkbox shipmnet detail*/
/*::deep .custom-chekbox .form-check-input {
    margin-left: 30px;
}*/

/*.origin-code {
    font-size: 12px;
    color: #6c757d;
}*/