<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <CascadingAuthenticationState>
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>Anda tidak memiliki akses ke halaman ini. <a href="/login">Login</a></p>
                </NotAuthorized>
            </AuthorizeRouteView>
        </CascadingAuthenticationState>
    </Found>
    <NotFound>
        <h3>Halaman tidak ditemukan!</h3>
    </NotFound>
</Router>