
.module-content {
    padding: 20px 100px;
}

.bb_stack_item h5 {
    font-size: 1.1em;
    color: #696f74;
}

.module-title {
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.bb_stack_item p {
    color: #a4abb2;
}

.bb_stack_item i {
    font-size: x-large;
    color: #b55e53;
}